

.button-container {
    margin-top : 30px;
}

.back {
    margin-right: 20px; /* Add right margin to create space between buttons */
  }

  .progress {
    width: 100%; /* Ensure it spans the full width of its parent */
    margin-bottom: 20px;  /* Add some space below the bar */
  }
  
  .progress-bar {
    width: 100%; /* Start with full width to test if it fills the container */
  }
