/* This sets the layout for the entire page */
body, html {
    height: 100%;
    margin: 0;
  }
  
  /* Use CSS Grid to divide the page */
  body {
    display: grid;
    grid-template-rows: 1fr 2fr; /* 1/3 for the image, 2/3 for the content */
  }
  
  .german-flag-section {
    /* Adjust this to properly display your image */
    background-image: url('../../public/images/Flag_of_Germany.svg.png'); /* Adjust the path accordingly */
    background-size: contain;
    background-position: center;
    min-height: 200px;
    margin-bottom: 20px;
  }